* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #45a049;
}
