<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- 모바일 화면에서 확대/축소를 막기 위한 코드 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>나이스 OCR</title>
    <link rel="stylesheet" href="camera.css" />
    <link rel="stylesheet" href="modal.css" />
    <script src="index.js" defer type="module"></script>
  </head>
  <body>
    <div class="wrap">
      <video id="webcam" autoplay playsinline></video>
      <div class="guide-line-wrap">
        <div id="guideLine" class="guide-line"></div>
      </div>
      <div class="btn-container">
        <ul>
          <li>
            <button id="torch" class="torch" aria-label="플래시"></button>
          </li>
          <li>
            <button id="capture" class="capture" aria-label="캡처">
              <span></span>
            </button>
          </li>
          <li>
            <button
              id="switchCamera"
              class="switch-camera"
              aria-label="전/후면 카메라 전환"
            ></button>
          </li>
        </ul>
      </div>
    </div>
    <canvas id="canvas" style="display: none"></canvas>
  </body>
</html>
